@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
* {
    font-family: 'Droid Arabic Kufi','Cairo', 'HelveticaNeueLTArabic', 'Open Sans', 'sans-serif';
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#main-div {
    width: 100%;
    overflow: hidden;
}



/*   start navbar style */
#logo {
    float: right;
    font-size: 20px;
    max-width: 50%;
    height: 200px;
    margin-top: -55px;
    margin-right: -35px;
    position: absolute;
}

#logo img {
    max-height: 100%;
        margin-right: 15px;
}

#navbar {
    background-color: #9dd22c;
    width: 100%;
    height: 80px;
}

#btn-singUp,
#btn-addAds {
    float: left;
    margin-top: 23px;
    font-size: 20px;
    max-width: 50%;
}

#btn-singUp,
#btn-addAds {
    padding-left: 10px
}

#icon {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    color: ;
}

#navbar .glyphicon,
#box-titel .glyphicon,
#pills-home #ads-table .glyphicon {
    top: 2px;
    left: 5px;
    font-size: 17px;
}

#btn-singUp a,
#btn-addAds a,
#btn-search a {
    display: inline-block;
    background-color: #3fc3c7;
    text-decoration: none;
    border: 0;
    color: #1b2946;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
}

#btn-singUp a:hover {
    cursor: pointer;
    background-color: #39afb2
}

#btn-addAds a {
    background-color: #defbff;
}

#btn-addAds a:hover {
    cursor: pointer;
    background-color: #cfeaee;
}

#box-of-ads {
    margin-bottom: 53px;
    width: 100%;
    height: 550px;
    background-color: #e3e0e0;
    overflow: auto;
    border-radius: 5px;

}

#box-of-ads::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#box-titel ul {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
    float: right;
    clear: right;
}

.nav-pills > li > a {
    color: #1b2946;
    font-size: 18px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #9dd22c;
    color: #1b2946
}

#pills-home {
    overflow: auto;
}

#pills-home table thead {
    z-index: 11
}

#pills-home table thead tr td {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

#pills-home table tbody tr td {
    border-bottom: 1px solid white;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    color: #1b2946;
}

#pills-home #table-head {
    background-color: #1b2946;
    color: #ffffff;
}

.btn-showAdsToUpdate,
.btn-delet {
    padding-left: 18px;
    padding-right: 18px;
    border: 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-transform: none;
    letter-spacing: .25px;
    min-width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 35px;
    background-color: #9dd22c;
    color: #1b2946;
}

.btn-showAdsToUpdate:hover,
.btn-delet:hover {
    background-color: #77BD0D;
}

.ads_image {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#pills-tab li {
    border: 2px solid #eee;
    border-radius: 5px;
    margin-left: 10px;
}

#centralModalLg #btn-update,
#centralModalLg .btn-secondary {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 10px;
    font-size: 17px;
    border: 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-transform: none;
    letter-spacing: .25px;
    min-width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 35px;
    background-color: #9dd22c;
    color: #1b2946;
}

#centralModalLg #btn-update:hover,
#centralModalLg .btn-secondary:hover {
    background-color: #77BD0D;
}

#box .md-form {
    margin-bottom: 15px;
}

#pills-home .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #9dd22c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


#pills-home .modal-header h3 {
    text-align: center;
}

#ads-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#ads-box table {
    width: 100%;
    margin-top: 30px;
}

.box {
    color: #1b2946;
    box-shadow: 0 3px 5px #ccc;
    width: 100%;
    height: 180px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.box:hover {
    box-shadow: 0 3px 10px 3px #afadad;

}

.box > div {
    float: right;
    clear: left;
    height: 180px;
    margin-bottom: 20px
}

.box .image {
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #eee;
}

.box .image img {
    display: inline-block;
    height: 100%;
    width: auto;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transition: all .5s ease-in-out;
}

.box .image .glyphicon-star {
    position: absolute;
    font-size: 27px;
    right: 0;
    color: #3fc3c7;
    -webkit-text-stroke: 1px #555;

}

.box .data {
    width: 75%;
    background-color: white;
}

.box .data p{
  color: #777;
}

.box .data .right,
.box .data .right p {
    display: inline;
}

.box .data .btn-left {
    float: left
}

.box .data .ads-date,
.box .data .ads-location {
    font-weight: bold
}

.box .data h3 {
    float: right;
    margin: 13px 10px 0 0;
    height: 30px;
    overflow: hidden;
    width: 50%;
    font-weight: bold;
font-size: 20px;
}

.box .data h4 {
    float: left;
    clear: left;
    margin: 13px 0 0 10px;
    font-weight: bolder;
    font-size: 20px;
    font-family: sans-serif
}

.box .data p {
    margin-bottom: 5px;
    margin-right: 10px;
}

.box .data p:first-of-type {
    margin: 48px 10px 0 0;
}

hr {
    width: 95%;
    margin-top: 45px;
    margin-bottom: 10px;
}

.box .image .btn-delet-fav {
    position: absolute;
}

.box .image .btn-delet-fav button {
    padding-left: 18px;
    padding-right: 18px;
    border: 0;
    border-bottom-left-radius: 5px;
    text-transform: none;
    letter-spacing: .25px;
    min-width: 60px;
    box-shadow: none;
    height: 35px;
    background-color: #9dd22c;
    color: #1b2946;
}

.box .image .btn-delet-fav button span {
    top: 0;
    left: 0;
}

/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/


/* upload img button in modal */
/* ------------------------------------- */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-image: url(/images/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: #e3e0e0;
}

#img-upload {
    width: 100%;
    height: 100%;
    border: 0;
}

.input-group-btn {
    display: inline;
    margin-left: 10px;
}

/* start modal-delet-btn */

#modal-delet-btn .modal-header {
    background-color: #f2dede;
    color: #d50000;
    border: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
}

#modal-delet-btn .modal-footer .delet-ads {
    background-color: #ff5252;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    margin-left: 10px;
    border: 0
}

/* end modal-delet-btn */

/* about inputs validation */
label:after {
    content: "*";
    font-weight: bold;
    color: red;
    margin-right: 3px;
}

.custom-alert {
    padding: 5px 10px;
    margin-top: 3px;
    display: none;
}

/*   start footer style */
.contact-us-email {
    color: #defbff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    display: inline-block;
    margin-left: 30px;
}

.contact-us-phone {
    color: #defbff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    display: inline-block;
    margin-left: 30px;
}

.contact-us-email:hover,
.contact-us-phone:hover {
    color: #defbff;
    text-decoration: none;
}

/***********************************************************************/
/* start maodal style in fav */
.modal-body {
    color: #1b2946;
}

.modal-body .close {
    position: absolute;
    top: -9px;
    right: -11px;
    z-index: 999999;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0px 5px;
    width: 25px;
    height: 26px;
    color: white;
    opacity: 1;
}

.modal-content {
    margin-top: -8px;
    margin-right: 1px;
}

#modal_image_box {
    width: 100%;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background-color: #eee;
    height: 300px;
}

#modal_image_box img {
    display: inline-block;
    height: 100%;
    width: auto;
    left: 50%;
    top: 50%;
}

#modal_ads_name {
    float: right;
    margin: 10px 0 0 0;
    overflow: hidden;
    width: 75%;
    height: 40px;
    font-weight: bold;

}

#modal_data_box :nth-child(3),
#modal_data_box :nth-child(4) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#modal_buttom_data {
}

#modal_buttom_data p {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 15px;
}

.modal-footer {
    display: flex
}

.modal-footer div {
    flex-wrap: wrap;
    width: 48%;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;

}

.modal-footer #modal_phone a,
.modal-footer #modal_email a {
    color: #1b2946;
    text-decoration: underline;
    font-size: 16px
}

.modal-footer #modal_phone a:hover,
.modal-footer #modal_email a:hover {
    color: #fff;
}

#modal_ads_price {
    float: left;
    clear: left;
    text-align: left;
    height: 40px;
    width: 25%;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #eaeaea;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    padding-right: 3px;
}

#modal_phone {
    background-color: #3fc3c7;
    color: #1b2946;

}

#modal_email {
    background-color: #9dd22c;
    color: #1b2946;
}



.glyphicon-earphone,
.glyphicon-envelope {
    top: 4px;
    left: 5px;
    margin-right: 15px;
    font-size: 17px;
    font-weight: bolder;
    color: white;
}

#modal_data_box hr {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}


/* end maodal style */
#dash-mneu {
    display: none
}

/********************************* (responsive design) **************************************/
/* mobile */
@media only screen and (max-width:767px) {

    /*nav bar part*/
    #navbar .container {
        padding: 0
    }

    #logo {
        max-width: 100%;
        float: left;
    }

    #dash-mneu {
    margin-top: 13px;
    float: left;
    display: block;
    }

    #dash-mneu span {
        background-color: #1b2946;
        margin-left: 10px;
        font-size: 24px;
        height: 51px;
        color: #defbff;
        padding: 13px 14px 0px 14px;
        border-radius: 5px;
    }

    .mobile-menu {
        display: none;
        height: 140px;
        width: 100%;
        flex-flow: column;
        background-color: #1b2946;
        top: 80px;
        position: absolute;
        z-index: 1;
    }


    .mobile-menu div a {
        width: 160px;
        text-align: center;
    }

    #btn-addAds a {
        background-color: #9dd22c;
    }

    .mobile-menu div {
        margin-left: auto;
        margin-right: auto;
    }

    /* pills part */
    #box-titel ul li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        flex-direction: column-reverse
    }

    #box-titel ul {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    /* edite ads in fav part */
    .box {
        height: 360px
    }

    .box .image {
        width: 100%;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0px;

    }

    .box .data {
        width: 100%;
    }

    #ads-table tr td {
        margin-bottom: 10px
    }

    #modal_ads_price,
    #modal_ads_name {
        width: 100%
    }

    #modal_buttom_data {
        display: block;
    }

    .modal-footer {
        display: block;
    }

    .modal-footer div {
        width: 98%;
        margin-bottom: 5px;
        text-align: center;
    }

    #centralModalLg-fav {
        padding-top: 15px;
    }

    #navbar #dash-mneu .glyphicon {
        font-size: 24px;
    }

    /* footer */
    #logo-container {
        text-align: center
    }

    #logo-container a {
        width: 100%;
    }

    #logo-container .contact-us-email {
        margin-top: 0px;
    }

    #logo-container #terms {
        margin-bottom: 20px
    }


}
